/*--------------------------*/
.qty-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .qty-container .input-qty{
    text-align: center;
    padding: 6px 10px;
    border: 1px solid #d4d4d4;
    max-width: 80px;
  }
  .qty-container .qty-btn-minus,
  .qty-container .qty-btn-plus{
    border: 1px solid #d4d4d4;
    padding: 10px 13px;
    font-size: 10px;
    height: 38px;
    width: 38px;
    transition: 0.3s;
  }
  .qty-container .qty-btn-plus{
    margin-left: -1px;
    cursor: pointer;
  }
  .qty-container .qty-btn-minus{
    margin-right: -1px;
    cursor: pointer;
  }


  /*---------------------------*/
  .btn-cornered,
  .input-cornered{
    border-radius: 4px;
  }
  .btn-rounded{
    border-radius: 50%;
  }
  .input-rounded{
    border-radius: 50px;
  }

  .product-image-container {
    position: relative;
  }

  .product-image a.btn-remove {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    z-index: 1;
  }

  .table td, .table th {
  vertical-align: top;
  border-top: 0px solid #dee2e6;
  }

  .product_row {
    margin-bottom: 10px; 
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    align-items: center;
  }

  .font_size_14 {
    display: block;
  width: 100%;
  max-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0;
  font-size: 14px;
  color: #212121;
  line-height: 16px;
  }

  .summary-section-heading {
    font-size: 18px;
    color: #212121;
    margin-bottom: 14px;
    position: relative;
    font-weight: 500;
  }

  

