.variation-selector .btn-group-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.variation-selector .variation-btn {
    border: 1px solid #dee2e6;
    padding: 0.4rem 1rem;
    font-size: 1.5rem;
    background-color: #fff;
    color: #212529;
    transition: all 0.2s ease;
    border-radius: 0.25rem;
}

.variation-selector .variation-btn.active {
    background-color: #f4631b;
    color: #fff;
    border-color: #f4631b;
}

.variation-selector .variation-btn:hover {
    border-color: #f4631b;
    color: #f4631b;
}

.variation-btn.disabled {
    opacity: 0.5;
    pointer-events: none;
}
