@media (min-width:1220px) {
    .container {
        max-width: 1500px;
        ;
    }
}

/* five start css code */
.five-star-rating {
    color: #F4631B;
    /* Set the color of the stars */
    font-size: 12px;
    /* margin-left: 11px; */
    /* Adjust the size of the stars */
}

.five-star-rating i {
    display: inline-block;
}

/* If you are using FontAwesome for the star icons */
.five-star-rating .fa-star:before {
    content: "\f005";
    /* Use the appropriate Unicode for the star icon */
}

.product-name {
    display: inline-block;
    word-wrap: break-word;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.page-item {
    margin: 0 2px;
}

.page-link {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.page-link:hover {
    background-color: #f5f5f5;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

.page-item.disabled .page-link {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #eee;
    color: #777;
    border: 1px solid #ddd;
}

.pagination_input_field {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.pagination_input_field::-webkit-inner-spin-button,
.pagination_input_field::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.sold_out {
    top: 2em;
    left: -4em;
    color: #fff;
    display: block;
    position: absolute;
    text-align: center;
    text-decoration: none;
    letter-spacing: .06em;
    background-color: #A00;
    padding: 0.5em 5em 0.4em 5em;
    text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    font: bold 16px/1.2em Arial, Sans-Serif;
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-45deg) scale(0.75, 1);
    z-index: 10;
}

.sold_out:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.3em -5em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255, 255, 255, 0.7) dashed;
}