/* public/css/loader.css */
.card_design {
    background-color: white;
  }
#loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loader {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: gradientAnimation 4s ease infinite;
}

#loader img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

@keyframes gradientAnimation {
    0% { background: radial-gradient(circle at top left, #3498db, #f39c12, #e74c3c, #3498db); }
    25% { background: radial-gradient(circle at top right, #3498db, #f39c12, #e74c3c, #3498db); }
    50% { background: radial-gradient(circle at bottom right, #3498db, #f39c12, #e74c3c, #3498db); }
    75% { background: radial-gradient(circle at bottom left, #3498db, #f39c12, #e74c3c, #3498db); }
    100% { background: radial-gradient(circle at top left, #3498db, #f39c12, #e74c3c, #3498db); }
}

.non-clickable {
    color: #999;
    cursor: not-allowed;
    pointer-events: none;
    text-decoration: none;
}
