.invalid {
    /* Invalid field validation color */
    border-color: red !important;
}

.invalid+.select2-container .select2-selection--single {
    border-color: #e53e3e !important;
}

.form-step {
    display: none;
}

.form-step.active {
    display: block;
}

.education-container {
    position: relative;
    border: 1px dashed #000;
    background: #f5f5f5;
    padding: 30px;
    margin-bottom: 2rem;
}

.employment-container {
    position: relative;
    border: 1px dashed #000;
    background: #f5f5f5;
    padding: 30px;
    margin-bottom: 2rem;
}

.remove-button {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #000;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
}

.sortable-placeholder {
    background-color: lightgray;
    height: 40px;
    /* Adjust the height as needed */
    margin-bottom: 10px;
    /* Adjust the margin as needed */
}

/* Add this CSS to your stylesheet */
.handle-icon {
    cursor: grab;
    /* Change cursor to indicate draggable */
    padding-right: 10px;
    /* Add some spacing to the right of the handle icon */
}

.handle-icon:hover {
    cursor: grabbing;
    /* Change cursor when dragging */
}
