.header-middle {
    background: #f4631b;
}

.header-search-category .form-control {
    border-radius: 5px 0px 0px 5px;
}

.header-search-category .btn {
    background-color: #111;
}

.mobile-menu-toggler-custom {
    border: 0;
    background: transparent;
    color: #222529;
    padding: 1rem 0.5rem;
    margin-right: 0.5rem;
    font-size: 20px;
    line-height: 0;
    cursor: pointer;
  }
  body {
    top: 0px !important;
    position: static !important;
}

.goog-te-banner-frame {
    display: none !important
}

.goog-te-combo {
    background-color: #f4631b;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    /* Add this line to remove the outline */
}

.goog-te-combo option {
    background-color: white;
    color: #333;
}

.goog-te-gadget {
    color: #040f1c00;
}

.goog-logo-link,
.goog-logo-link:link,
.goog-logo-link:visited,
.goog-logo-link:hover,
.goog-logo-link:active {
    font-size: 12px;
    font-weight: bold;
    color: #040f1c00;
    text-decoration: none;
    visibility: hidden;
}

#google_translate_element img,
iframe,
.skiptranslate a {
    display: none;
}

.owl-dots {
    display: none;
}

.slider_image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* For Large View */
@media screen and (min-width: 1920px) {
    .slider_image {
        height: 320px;
    }
}


/* For Desktop View */
@media screen and (min-width: 1024px) {
    .slider_image {
        height: 290px;
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .slider_image {
        height: 240px;
    }
}

@media screen and (max-device-width: 767px) {
    .slider_image {
        height: 180px;
    }
}

/* Sidebar */
#sidebar-wrapper {
    z-index: 10;
    position: absolute;
    width: 0;
    min-height: 100% !important;
    height: 100vh;
    overflow-y: hidden;
    background: #fff;
    /* opacity: 0.9; */
    transition: all .5s;
    display: flex;
    overflow: scroll;
    /* align-items:center; */
}

/* Main Content */
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    transition: all .5s;
}

#menu-toggle {
    transition: all .3s;
    /* font-size:2em; */
}

/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper {
    width: 310px;
}

#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 250px;
}

/* Sidebar styling */
.sidebar-nav {
    padding: 0;
    list-style: none;
    transition: all .5s;
    width: 100%;
    /* text-align: center; */
}

.sidebar-nav li {
    line-height: 20px;
    width: 100%;
    transition: all .3s;
    padding: 10px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000000;
}

.sidebar-nav li:hover {
    /* background: #846bab; */
}

.arrow {
    border: solid #707070;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin-top: 3px;
    align-items: flex-end;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

@media (min-width: 992px) {
    .mobile-sidebar-menu {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .responsive-desktop-menu {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .responsive-mobile-menu {
        display: none;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

.product-name {
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
}

/* five start css code */
.five-star-rating {
    color: #F4631B;
    /* Set the color of the stars */
    font-size: 12px;
    /* margin-left: 11px; */
    /* Adjust the size of the stars */
}

.five-star-rating i {
    display: inline-block;
}

/* If you are using FontAwesome for the star icons */
.five-star-rating .fa-star:before {
    content: "\f005";
    /* Use the appropriate Unicode for the star icon */
}

/* end of five start css code */

/* two line name show css code */

.product-name {
    display: inline-block;
    word-wrap: break-word;
}

.menu-toggle {
position: relative;
width: 40px;
height: 40px;
cursor: not-allowed;
display: flex;
justify-content: center;
align-items: center;
}

.menu-toggle::before {
content: '';
position: absolute;
width: 24px;
height: 4px;
background: #000;
box-shadow: 0 8px 0 #000,
        0 -8px 0 #000;
}

/* profile menu */

.profile {
position: relative;
display: flex;
justify-content: flex-end;
align-items: center;
gap: 12px;
cursor: pointer;
text-align: end;
}

.profile h3 {
text-align: end;
line-height: 1;
margin-bottom: 4px;
font-weight: 600;
}

.profile p {
line-height: 1;
font-size: 14px;
opacity: .6;
}

.profile .img-box {
position: relative;
width: 30px;
height: 30px;
border-radius: 50%;
overflow: hidden;
}

.profile .img-box img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.profile_menu {
position: absolute;
top: calc(100% + 24px);
right: 16px;
width: 200px;
min-height: 100px;
background: #fff;
box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
opacity: 0;
transform: translateY(-10px);
visibility: hidden;
transition: 300ms;
z-index: 999;
}

.profile_menu::before {
content: '';
position: absolute;
top: -10px;
right: 14px;
width: 20px;
height: 20px;
background: #fff;
transform: rotate(45deg);
z-index: -1;
}

.profile_menu.active {
opacity: 999;
transform: translateY(0);
visibility: visible;
}

.profile_menu ul {
position: relative;
display: flex;
flex-direction: column;
z-index: 10;
background: #fff;
}

.profile_menu ul li {
list-style: none;
}

.profile_menu ul li:hover {
background: #eee;
}

.profile_menu ul li a {
text-decoration: none;
color: #000;
display: flex;
align-items: center;
padding: 15px 20px;
gap: 6px;
}

.profile_menu ul li a i {
font-size: 1.2em;
}

.wishlist_icon {
    height: 10px;
}
.cart_icon {
    height: 34px;
}

/* CSS for the mobile menu, initially hidden */
.top_header_mobile_menu {
    display: none;
}

/* Media query to show the mobile menu on screens up to 767px (adjust as needed) */
@media (max-width: 767px) {
    .top_header_mobile_menu {
        display: block; /* Show the mobile menu on smaller screens */
    }
}

.brand_color {
    background-color: #f4631b;
}

.header-icon i {
    font-size: 2.6rem !important;
  }
